build/
*.exe
*.dll
*.qm
*.o
*.obj
*.a
*.lib
moc_*
qrc_*
ui_*
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
platforms/
styles/
imageformats/
iconengines/
networkinformation/
generic/
tls/
translations/
*.log
